@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h5,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none !important;
}

/* #Header */
/* -------------------Topnav----------------- */
.topnav {
  width: 100vw;
  background-color: #126c0d;
  padding: 12px 0;
}
.topnav-row {
  width: 85vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topnav-col p {
  font-size: 14px;
  color: #ffffff;
  margin: auto;
  /* margin-top: 10px; */
}
.topnav-col-1 {
  display: flex;
}
.topnav-contact span {
  margin-right: 10px;
  color: #ffffff;
  font-size: 14px;
}
.topnav-contact i {
  margin-right: 10px;
  color: #ffffff;
  font-size: 16px;
}
.topnav-icon a {
  color: #ffffff;
  font-size: 16px;
  margin-right: 10px;
  margin-left: 15px;
}

@media (max-width: 1250px) {
  .topnav-row {
    width: 90vw;
    margin: auto;
  }
}
@media (max-width: 1100px) {
  .topnav-row {
    width: 95vw;
    margin: auto;
  }
}

@media (max-width: 1000px) {

  /* .topnav {
    display: none;
  } */
  .topnav-row {
    width: 80vw;
   text-align: center;
   justify-content: center;
  }

  .topnav-col-1{
    display: none;
  }
}

/* --------------------menu-bar------------------ */

.menu-bar {
  width: 100vw;
  margin: auto;
  padding: 5px 0;
}
.menubar-row {
  width: 85vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .menubar-col-1 img {
  width: 140px;
} */

.menubar-col-1 ul {
  margin: auto;
  display: flex;
  align-items: center;
}
.menubar-col-1 ul li {
  list-style: none;
  padding: 0 15px;
}

.menubar-col-1 ul li a {
  color: #6f6f6f;
  font-size: 16px;
  font-weight: 700;
}
.menubar-col-1 ul li a:hover {
  color: #555555;
}
.menubar-col-1 ul li a:active {
  color: #555555;
}

.menubar-row .menu-icon {
  border: none;
  display: none;
}

.menubar-row .close-menu {
  display: none;
}

.mobile-menubar {
  display: none;
}
.menubar-col-1 .appointment a {
  color: #ffffff;
  background-color: #1569c7;
  padding: 15px 20px;
  font-weight: 700;
  transition: all 0.5s;
}
.menubar-col-1 .appointment a:hover {
  color: #ffffff;
  background-color: #f39322;
}
@media (max-width: 1120px) {
  .menubar-row {
    width: 92vw;
  }
}
@media (max-width: 980px) {
  .menubar-row {
    width: 98vw;
  }
}
@media (max-width: 900px) {
  .menubar-row {
    width: 92vw;
  }
  .pc-menubar {
    display: none;
  }
  .mobile-menubar {
    display: block;
  }
  .menubar-row .menu-icon {
    display: block;
    font-size: 35px;
    color: #273353;
  }
  .menubar-mobile .close-menu {
    display: block;
    background-color: #000000;
    border: none;
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .menubar-col-1 ul {
    display: none;
  }

  .menubar-mobile ul {
    padding-top: 80px;
    background-color: #000000;
    position: relative;
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    width: 45vw;
    z-index: 999;
    padding-bottom: 400px;
  }

  .menubar-mobile ul li {
    list-style: none;
    padding: 15px 0;
    margin-left: -32px;
    border-bottom: 1px solid rgb(68, 68, 68);
    padding-left: 22px;
  }
  .menubar-mobile ul li a {
    color: #ffffff;
    font-size: 15px;
    transition: all 0.7s;
    font-weight: 600;
  }
  .menubar-col-1 img {
    margin-left: -30px;
  }
}

@media (max-width: 750px) {
  .menubar-mobile ul {
    width: 55vw;
  }
}
@media (max-width: 550px) {
  .menubar-mobile ul {
    width: 65vw;
  }
  .menubar-col-1 img {
  width: 55vw;
}
}
@media (max-width: 450px) {
  .menubar-mobile ul {
    width: 75vw;
  }
}

/* ------------------Drop-down--------------------- */

/* .menubar-col-1 .drop-icon {
  border: none;
  color: #273353;
  margin-left: 2px;
  font-weight: 600;
}
.menubar-col-1 .drop-link {
  position: relative;
  position: absolute;
  top: 165px;
  z-index: 9999;
  background-color: #ffffff;
  border-top: 3px solid #f39322;
}
.menubar-col-1 .drop-link li {
  padding: 13px 30px;
  border-bottom: 1px solid #c9c9c9;
  margin-left: 0px;
}
.menubar-col-1 .drop-link li a {
  color: #242424;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 1000px) {
  .menubar-col-1 .drop-link {
    top: 110px;
  }
}

@media (max-width: 900px) {
  .menubar-mobile .drop-icon {
    border: none;
    background-color: #000000;
    color: #ffffff;
    margin-left: 1px;
    font-weight: 600;
  }

  .menubar-mobile .drop-link li {
    padding: 8px 15px;
    border: none;
    margin-left: 0px;
  }
  .menubar-mobile .drop-link li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
  }
} */

/* --------------Home ---------------- */

.about-clinic {
  width: 85vw;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}
.about-clinic h2 {
  font-size: 30px;
  color: #333333;
  font-weight: 700;
}

.about-clinic p {
  font-size: 14px;
  color: #777777;
  margin-top: 10px;
}

.about-clinic a button {
  border: none;
  font-size: 18px;
  background-color: #ffffff;
  color: #303030;
  padding: 10px 20px;
  box-shadow: 0 8px 6px -6px black;
  transition: all 1s;
}

.about-clinic a button:hover {
  color: #ffffff;
  background-color: #126c0d;
}

/* -----------------Our tretment------------ */

.our-treat {
  width: 85vw;
  margin: auto;
  margin-top: 80px;
}

.our-treat h2 {
  font-size: 30px;
  color: #333333;
  font-weight: 700;
  text-align: center;
  margin-bottom: 70px;
}
.our-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.our-col {
  flex-basis: 25%;
}
.our-col img {
  width: 26vw;
  height: 38vh;
}
.our-col h3 {
  font-size: 22px;
  color: #333333;
  margin-top: 10px;
  transition: all 0.7s;
  font-weight: 400;
}
.our-col p {
  font-size: 14px;
  color: #777777;
}

.our-col .line-full {
  margin: 10px 0;
}

.our-col:hover > h3 {
  color: #126b0d;
}

.our-col .line-full::after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #126b0d;
  display: block;
  transition: 0.5s;
}

.our-col .line-full:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .our-row {
    flex-direction: column;
    margin-bottom: 0px;
  }
  .our-col img {
    width: 85vw;
    height: auto;
    margin-top: 40px;
  }
}

/* ----------------Treatment-principle-------------- */

.principle {
  width: 100vw;
  height: 30vw;
  background-image: url(../public/img/main.jpg);
  background-attachment: fixed !important;
  background-color: transparent;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin: 50px 0;
}

.principle::before {
  width: 100vw;
  height: 30vw;
  background-color: rgba(255, 255, 255, 0.8);
  content: "";
  position: absolute;
}
.princ-cont {
  width: 60vw;
  margin: auto;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.princ-cont h5 {
  font-size: 15px;
  color: #333333;
  margin-bottom: 10px;
}

.princ-cont h2 {
  font-size: 30px;
  color: #333333;
  font-weight: 400;
}

@media (max-width: 900px) {
  .princ-cont {
    width: 85vw;
  }
}

@media (max-width: 750px) {
  .principle {
    width: 100vw;
    height: 50vw;
  }

  .principle::before {
    width: 100vw;
    height: 50vw;
  }
}

@media (max-width: 600px) {
  .princ-cont h2 {
    font-size: 18px;
  }
}


/* --------------Benefit treatment----------------- */

.benefit {
  width: 85vw;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 50px;
}
.benefit h2 {
  font-size: 30px;
  color: #333333;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.benefit-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.benefit-col {
  flex-basis: 33%;
  border: 1px solid #c9c9c9;
  padding: 15px 10px;
  /* height: 40vh; */
}
.benefit-col i {
  color: #126b0d;
  font-size: 30px;
  border: 1px solid #c9c9c9;
  padding: 10px;
  transition: all 1.2s;
}
.benefit-col h4 {
  font-size: 18px;
  color: #333333;
  margin: 10px 0;
}
.benefit-col p {
  font-size: 14px;
  color: #777777;
}

.benefit-col:hover > i{
  background-color: #126b0d;
  color: #ffffff;
}

@media (max-width:1160px){
  .benefit {
    width: 90vw;
  }
}
@media (max-width:1100px){
  .benefit {
    width: 95vw;
  }
}

@media (max-width:800px){
  .benefit {
    width: 85vw;
  }
  .benefit-row {
   flex-direction: column;
    margin-bottom: 0px;
  }
  .benefit-col {
   margin-bottom: 20px;
  }
}

/* -------------------Testimonial----------------------- */
.testimonial{
  width: 85vw;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;

}
.testimonial h1{
  font-size: 36px;
  color: #333333;
}

.border-bot{
  border-bottom: 1px dashed #126B0D;
  margin: 25px auto;
    text-align: center;
    width: 110px;
}

.testi-cont{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 40px 10px;
}
.testi-cont h3{
  font-size: 24px;
  color:#333333 ;
  margin-bottom: 25px;
  text-align: center;
  
}
.testi-cont p{
  font-size: 15px;
  color: #777777;
  font-weight: 600;
  margin-bottom: 8px;
  text-align: center;
}

.testi-cont .italic{
  text-align: right;
  margin-top: 30px;
}

/* ---------------Footer------------------ */
.footer {
  width: 100vw;
  margin: auto;
  background-color: #126b0d;
  padding: 50px 0;
  margin-top: 20px;
}
.footer-row{
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-col {
  flex-basis: 30%;
}

.footer-col h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;

}
.footer-col p {
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 0px;
  line-height: 22px;
  line-height: 24px;
}
.footer-col p a{
  color: #ffff00;
  font-size: 15px;
  margin-bottom: 0px;
  line-height: 22px;
  line-height: 24px;
}
.contact-detail {
  margin-top: 15px;
  margin-bottom: 20px;
}

.footer-icon a {
  text-decoration: none;
  font-size: 35px;
  color: #ffff00;
  margin-right: 20px;
}

@media (max-width: 1150px) {
  .footer-col {
    margin-right: 20px;
  }
}

@media (max-width: 1000px) {
  .footer-row {
    width: 80vw;
    margin: auto;
    flex-direction: column;
  }
  .footer-col {
    margin-right: 0px;
    margin-top: 50px;
  }
}

@media (max-width: 500px) {
  .footer-col iframe {
    width: 300px;
  }
}
@media (max-width: 370px) {
  .footer-col iframe {
    width: 250px;
    height: 250px;
  }
}

.policy {
  width: 100vw;
  margin: auto;
  background-color: #126b0d;
  padding: 15px 0px;
  border-top: 1px solid rgb(151, 151, 151);
}

.policy-row {
  width: 95vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: centre;
}

.policy-col p {
  font-size: 14px;
  color: #ffffff;
  margin-top: 20px;
}
.policy-col a {
  text-decoration: none;
  font-weight: 500;
  color: #ffff00;
}
.policy-col i {
  color: #ea5353;
}

@media (max-width: 1000px) {
  .policy-row {
    width: 80vw;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .policy-col p {
    margin-bottom: 1px;
    text-align: center;
    margin-top: 0px;
  }
}

/* -----------------About us------------- */

.allpage-background{
  background-color: #737677;
  padding: 25px 0;
}
.allpage-cont{
  width: 90vw;
  margin: auto;
}
.allpage-cont h1{
  font-size: 36px;
  color: #ffffff;
}



.welcome {
  width: 85vw;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.welcome h3 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
  color: #2d2d2d;
  font-weight: 400;
}
.wel-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.wel-col img {
  width: 35vw;
  margin-right: 30px;
}
.wel-col p {
  font-size: 15px;
  color: #434343;
  margin-bottom: 20px;
  line-height: 28px;
}
.wel-col p em {
  color: #126b0d;
}

.wel-col button {
  padding: 18px 70px;
  border-radius: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  background-color: #1a646f;
  border: none;
  margin-top: 30px;
  transition: 0.5s;
}

.wel-col button:hover {
  background-color: #4aaf52;
}

@media (max-width: 1100px) {
  .welcome {
    width: 95vw;
  }
}

@media (max-width: 900px) {
  .welcome {
    width: 80vw;
  }
  .wel-row {
    flex-direction: column;
  }
  .wel-col img {
    width: 80vw;
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  .welcome h3 {
    font-size: 30px;
  }
}
/* ----------------------Contact-us----------------- */
.contact {
width: 80vw;
margin: auto;
padding: 50px 0;
}

.contact-row {
  display: flex;
  align-items: flex-start;
}

.contact-col h2 {
  font-size: 26px;
  color: #130947;
  margin-bottom: 10px;
}

.contact-col-l {
  display: flex;
  align-items: flex-start;
  padding: 20px 0;
}
.con-bor {
  border-style: none none dashed none;
  border-width: thin;
  border-color: #c9c9c9;
}
.contact-col-l i {
  font-size: 30px;
  color: #126b0d;
  padding-right: 20px;
}
.contact-cont {
  margin-left: 8px;
}
.contact-col-l h5 {
  font-size: 20px;
  color: #130947;
  margin-bottom: 10px;
}

.contact-col-l p a{
  font-size: 14px;
  color: #126b0d;
}

.contact-col-r {
  width: 60vw;
  margin-left: 50px;
}

.contact-col-r h1 {
  font-size: 40px;
  color: #130947;
  margin-bottom: 30px;
  letter-spacing: -2px;
}
.contact-col-r input {
  margin-bottom: 30px;
  background-color: #ecf1f8;
  height: 50px;
}
.contact-col-r .form-floating textarea {
  height: 100px;
  background-color: #ecf1f8;
}
.contact-col-r button {
  margin-top: 20px;
  border: none;
  background-color: #13455e;
  color: #ffffff;
  padding: 14px 35px;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .contact {
    width: 90vw;
  }
  .contact-col-r h1 {
    font-size: 35px;
  }
}
@media (max-width: 1000px) {
  .contact {
    width: 95vw;
  }
  .contact-col-r h1 {
    font-size: 30px;
  }
}
@media (max-width: 900px) {
  .contact {
    width: 80vw;
  }
  .contact-row {
    flex-direction: column;
  }
  .contact-col-r {
    width: 80vw;
    top: 0px;
    margin-left: 0px;
    margin-top: 30px;
  }
}
@media (max-width: 750px) {
  .contact-col-r h1 {
    font-size: 25px;
  }
}

@media (max-width: 600px) {
  .contact-row .row {
    flex-direction: column;
    margin-bottom: 0px;
  }
  .contact-row .row input {
    margin-bottom: 30px;
  }
}

/* ----------------gallery----------- */

.gallery{
  width: 85vw;
  margin: auto;
 padding: 50px 0 0 0;
}
.gallery-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.gallery-col{
  flex-basis: 33%;
}
.gallery-col img{
  width: 25vw;
  height: 55vh;
}
@media (max-width:700px) {
  .gallery-row{
    flex-direction: column;
    margin-bottom: 0px;
  }
  .gallery-col img{
    width: 85vw;
   height: 65vh;
   margin-bottom: 40px;
  }
}